@import "tailwindcss";

:root {
	--background: #fbfbfb;
	--color-primary: #5400ff;
	--color-primary-dark: #3a00b7;
	--color-primary-light: #7a33ff;
	--color-primary-text: #4b5467;
}

body {
	min-width: 600px;
	background-color: var(--background);
}

.icon-primary {
	color: var(--color-primary);
}

.text-primary {
	color: var(--color-primary-text);
}

.color-primary {
	color: var(--color-primary);
}
