body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

#menu-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#dropdown-button {
	font-size: 32px;
	padding: 10px 20px;
	border-radius: 10px;
}

#dropdown-menu {
	border: 2px solid black;
	display: none;
	flex-direction: column;
	gap: 25px;
	width: 100%;
	padding: 10px;
}

.menu-buttons {
	font-size: 24px;
}
