:root {
    --dark-moss-green: #606C38;
    --pakistan-green: #283618;
    --cornsilk: #FEFAE0;
    --earth-yellow: #DDA15E;
    --tigers-eye: #BC6C25;
    --medium: 500;
    --semibold: 600;
}

body {
    display: flex;
    background-color: var(--cornsilk);
    padding: 50px 120px;
    margin: 0;
    height: 95vh;
}

input::placeholder {
    color: var(--cornsilk);  /* Change to your desired color */
}

.slide-in {
    animation-duration: 3s;
    animation-name: slide-in;
    animation-iteration-count: 3;
    animation-direction: alternate;
}