:root {
    --dark-moss-green: #606C38;
    --pakistan-green: #283618;
    --cornsilk: #FEFAE0;
    --earth-yellow: #DDA15E;
    --tigers-eye: #BC6C25;
    --medium: 500;
    --semibold: 600;
}

body {
    background-color: var(--cornsilk);
    padding: 0 120px;
    height: 100vh;
}

input::placeholder {
    color: var(--cornsilk);  /* Change to your desired color */
}